
.app-cachelist {

  .x-dock-body {

    .x-button {
      margin: 15px;
      height: 2.5em;

      .x-button-label {
        font-family: $font-family;
      }

      .x-badge {
        padding: 2px 5px;
      }

    }

  }


}
